.cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardContainer .infectedCard {
  padding: 20px 50px 20px 20px;
  -webkit-box-shadow: 0px 10px 20px #dfdfdf;
          box-shadow: 0px 10px 20px #dfdfdf;
  border-radius: 16px;
  margin: 25px 20px 20px 20px;
}

.cardContainer .infectedCard h4 {
  color: #a57f0d;
}

.cardContainer .infectedCard h5 {
  color: #404040;
}

.cardContainer .infectedCard h6 {
  color: #696868;
}

.cardContainer .recoveredCard {
  padding: 20px 50px 20px 20px;
  -webkit-box-shadow: 0px 10px 20px #dfdfdf;
          box-shadow: 0px 10px 20px #dfdfdf;
  border-radius: 16px;
  margin: 25px 20px 20px 20px;
}

.cardContainer .recoveredCard h4 {
  color: #55a659;
}

.cardContainer .recoveredCard h5 {
  color: #404040;
}

.cardContainer .recoveredCard h6 {
  color: #696868;
}

.cardContainer .deathsCard {
  padding: 20px 50px 20px 20px;
  -webkit-box-shadow: 0px 10px 20px #dfdfdf;
          box-shadow: 0px 10px 20px #dfdfdf;
  border-radius: 16px;
  margin: 25px 20px 20px 20px;
}

.cardContainer .deathsCard h4 {
  color: #ef5350;
}

.cardContainer .deathsCard h5 {
  color: #404040;
}

.cardContainer .deathsCard h6 {
  color: #696868;
}

.filterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-shadow: 0px 10px 20px #dfdfdf;
          box-shadow: 0px 10px 20px #dfdfdf;
  margin: 15px 0 25px 0;
  border-radius: 16px;
}

.filterContainer .imgContainer {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filterContainer .imgContainer img {
  height: 70px;
  margin: 20px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 10px 20px #dfdfdf;
          box-shadow: 0px 10px 20px #dfdfdf;
}

.filterContainer .imgContainer h5 {
  text-align: center;
  color: #404040;
  font-weight: bold;
}

.filterContainer .filterInformations {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.filterContainer .filterInformations p {
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 20px #dfdfdf;
          box-shadow: 0px 10px 20px #dfdfdf;
  padding: 12px;
}

.filterContainer .filterInformations p .cases {
  color: #a57f0d;
}

.filterContainer .filterInformations p .recovered {
  color: #55a659;
}

.filterContainer .filterInformations p .death {
  color: #ef5350;
}

.filterContainer .filterInformations1 {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.filterContainer .filterInformations1 p {
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 20px #dfdfdf;
          box-shadow: 0px 10px 20px #dfdfdf;
  padding: 12px;
}

.filterContainer .filterInformations1 p .cases {
  color: #ffb74d;
}

.filterContainer .filterInformations1 p .recovered {
  color: #757575;
}

.filterContainer .filterInformations1 p .death {
  color: #ec407a;
}

@media only screen and (max-width: 767px) {
  .cardContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardContainer .infectedCard {
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 20px;
  }
  .cardContainer .recoveredCard {
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 20px;
  }
  .cardContainer .deathsCard {
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 20px;
  }
  .filterContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filterContainer .imgContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filterContainer .imgContainer img {
    width: 85%;
    height: 150px;
    margin: 20px 20px 20px 20px;
    border-radius: 16px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .filterContainer .imgContainer h5 {
    text-align: center;
    color: #404040;
    font-weight: bold;
  }
  .filterContainer .filterInformations {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .filterContainer .filterInformations p {
    text-align: center;
  }
  .filterContainer .filterInformations1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .filterContainer .filterInformations1 p {
    text-align: center;
  }
}
/*# sourceMappingURL=Cards.css.map */