.cardContainer {
  display: flex;
  .infectedCard {
    // width: 20px;
    padding: 20px 50px 20px 20px;
    box-shadow: 0px 10px 20px #dfdfdf;
    border-radius: 16px;
    margin: 25px 20px 20px 20px;
    h4 {
      color: #a57f0d;
    }
    h5 {
      color: #404040;
    }
    h6 {
      color: #696868;
    }
  }
  .recoveredCard {
    padding: 20px 50px 20px 20px;
    box-shadow: 0px 10px 20px #dfdfdf;
    border-radius: 16px;
    margin: 25px 20px 20px 20px;
    h4 {
      color: #55a659;
    }
    h5 {
      color: #404040;
    }
    h6 {
      color: #696868;
    }
  }
  .deathsCard {
    // width: 20px;
    padding: 20px 50px 20px 20px;
    box-shadow: 0px 10px 20px #dfdfdf;
    border-radius: 16px;
    margin: 25px 20px 20px 20px;
    h4 {
      color: #ef5350;
    }
    h5 {
      color: #404040;
    }
    h6 {
      color: #696868;
    }
  }
}
.filterContainer {
  display: flex;
  width: 100%;
  // align-items: center;
  box-shadow: 0px 10px 20px #dfdfdf;
  margin: 40px 0 25px 0;
  border-radius: 16px;
  .imgContainer {
    width: 16%;
    display: flex;
    flex-direction: column;
    img {
      height: 70px;
      margin: 20px;
      border-radius: 100px;
      box-shadow: 0px 10px 20px #dfdfdf;
    }
    h5 {
      text-align: center;
      color: #404040;
      font-weight: bold;
    }
  }
  .filterInformations {
    width: 42%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    p {
      border-radius: 16px;
      box-shadow: 0px 10px 20px #dfdfdf;
      padding: 12px;

      .cases {
        color: #a57f0d;
      }
      .recovered {
        color: #55a659;
      }
      .death {
        color: #ef5350;
      }
    }
  }
  .filterInformations1 {
    width: 42%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    p {
      border-radius: 16px;
      box-shadow: 0px 10px 20px #dfdfdf;
      padding: 12px;

      .cases {
        color: #ffb74d;
      }
      .recovered {
        color: #757575;
      }
      .death {
        color: #ec407a;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .cardContainer {
    // padding: 20px;
    display: flex;
    flex-direction: column;
    .infectedCard {
      text-align: center;
      margin: 20px 0 20px 0;
    }
    .recoveredCard {
      text-align: center;
      margin: 20px 0 20px 0;
    }
    .deathsCard {
      text-align: center;
      margin: 20px 0 20px 0;
    }
  }
  .filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        height: 150px;
        margin: 0px 20px 20px 20px;
        // padding: 20px;
        border-radius: 16px;
        box-shadow: none;
        align-self: center;
      }
      h5 {
        text-align: center;
        color: #404040;
        font-weight: bold;
      }
    }
    .filterInformations {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      p {
        text-align: center;
      }
    }
    .filterInformations1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      p {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1004px) {
  .cardContainer {
    // padding: 20px;
    display: flex;
    flex-direction: column;
    .infectedCard {
      text-align: center;
      margin: 20px 0 20px 0;
    }
    .recoveredCard {
      text-align: center;
      margin: 20px 0 20px 0;
    }
    .deathsCard {
      text-align: center;
      margin: 20px 0 20px 0;
    }
  }
  .filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        height: 150px;
        margin: 0px 20px 20px 20px;
        // padding: 20px;
        border-radius: 16px;
        box-shadow: none;
        align-self: center;
      }
      h5 {
        text-align: center;
        color: #404040;
        font-weight: bold;
      }
    }
    .filterInformations {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      p {
        text-align: center;
      }
    }
    .filterInformations1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      p {
        text-align: center;
      }
    }
  }
}
