.countryContainer {
  margin: 25px 0 25px 0;
  form {
    input {
      border: none;
      width: 100%;
      outline: none;
      padding: 8px 8px 8px 12px;
      border-radius: 16px;
      background: #f1f1f1;
      color: #404040;
      &:focus {
        transition: 1s;
        box-shadow: 0px 10px 15px #f5f4f4;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .countryContainer {
    // padding: 0 20px 0 20px;
  }
}
